<ion-modal-view ng-controller="commentCtrl">
    <ion-header-bar class="bar-dark">
        <h1 class="title">评论</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeComment()"><span class="ion-android-close"></span>
            </button>
        </div>
    </ion-header-bar>
    <ion-content on-scroll="scroll();">
        <div ng-if="!list.length" class="empty">暂无评论</div>
        <ul class="comment-list padding">
            <li ng-repeat="li in list">

                <div class="tp">
                    <img ng-src="{{li.avatar}}" class="avatar-img" alt=""/>

                    <div class="r">
                        <div class="r-r text-right pull-right small"><span on-tap="addLiked(li._id)"><i
                                class="icon ion-android-favorite-outline"></i> {{li.liked}}</span> &nbsp;&nbsp;

                            <span ng-show="userInfo" on-tap="reply(li)"><i
                                    class="icon ion-chatbox-working "></i> 回复</span>
                        </div>
                        <span class="username">{{li.userName}}</span>&nbsp;&nbsp; <span
                            class="small gray">{{$index+1}} 楼</span> <br> <span class="time small gray ">{{li.time|myDate|date:'yyyy-MM-dd  '}}</span>
                    </div>
                </div>
                <div class="con">
                    <replied></replied>
                    <div class="comment-text">{{li.text}}</div>

                </div>

            </li>
        </ul>
        <ion-infinite-scroll immediate-check="false" spinner="spiral" ng-if="!noMoreItemsAvailable"
                             on-infinite="loadMore()" distance="5%">

        </ion-infinite-scroll>
    </ion-content>
    <comment-footer news-id="newsId"></comment-footer>
</ion-modal-view>
