<ion-side-menus class="dark" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button> 返回</ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <div menu-close class="menu-header item-avatar " ng-click="showUserInfo()" ng-if="userInfo.username">

                <img class="avatar-img" src="{{userInfo.avatar}}" alt=""/>
                <div class="r">
                    <span class="username">{{userInfo.username}}</span> <span ng-if="userInfo.sex"                                                                                 ng-class="{'pink ion-female':userInfo.sex=='female','blue ion-male':userInfo.sex=='male'}"></span><br>
                    <span class="signature">{{userInfo.signature}}</span>
                </div>
            </div>

            <ion-list menu-close>
                <ion-item ng-if="!userInfo.username" >
                    <br/>

                </ion-item>
                <ion-item ng-href="#/app/news">
                    新闻
                </ion-item>
                <ion-item ng-href="#/app/about">
                    关于我们
                </ion-item>
                <ion-item ng-href="#/app/suggest">
                    意见建议
                </ion-item>
                <ion-item ng-if="!userInfo.username">
                    <div class="button-bar">
                        <button class="button  button-balanced" ng-click="login()">登陆</button>
                        <button class="button  button-balanced" ng-click="reg()">注册</button>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
