<ion-view view-title="新闻内页">
    <ion-nav-buttons side="right">
        <a class="button"  ng-href ="#/app/comment?newsId={{newsId}}">
            {{news.commented}} 条评论
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="article news-article">
            <h1 class="article-title">
                <ion-scroll scrollbar-y="false" scrollbar-x="false" direction="x">{{news.title}}</ion-scroll>
            </h1>
            <div class="article-con" ng-bind-html="rendHtml(news.description)"></div>
            <div class="keywords" ng-if="news.keywords.length">关键字:
                <a href="#" ng-repeat="key in news.keywords">{{key}}</a>
            </div>
            <div class="foot-time ">
                {{news.time|date:'yyyy-MM-dd '}}
            </div>
            <div class="comment">

                <h5>精彩评论</h5>

                <div class="line"></div>
                <ul class="comment-list mt10">
                    <li></li>
                </ul>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light comment-footer gray">
        <div  class="editor small"  contenteditable ng-model="comments"   strip-br="true" placeholder ="没事说两句"></div>
        <button class="button" on-tap="sendComment()">发送</button>
    </ion-footer-bar>
</ion-view>
