/* Empty. Add your own CSS if you like */
@import "variable";
@import "com";

ion-side-menu {

}

.list a {
  color: #333;
  text-decoration: none;
}

.foot-time {
  padding: 10px;
  text-align: right
}

.article {
  overflow: hidden
}

.article-title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.keywords {
  padding: 5px;
  font-size: 12px;
  a {
    padding: 2px 3px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    margin: 0 5px;
    white-space: nowrap;
    display: inline-block;
  }
}

.menu-left {
  background: #333;
  .item {
    background: #333;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #444;
    a.activated {
      background: #444;
    }
    a {
      color: #fff;
      background: #333;
    }

    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }

  }
}

.menu-header {
  .avatar-img-con {
    height: 50px;
    width: 50px;
    overflow: hidden;

  }
  .avatar-img {

    padding: 1px;
    max-width: 50px !important;
    max-height: 50px !important;

  }
  .r {
    padding: 20px 10px 0 10px;
    color: #fff;
  }
  .signature {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #aaa;
  }

  .username {
    font-size: 16px;
    margin-right: 5px;
  }
}

.avatar-update-con {
  text-align: center;
  padding: 10px 0;

  .file {
    opacity: 0;
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -35px;
  }

  .avatar-img {
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
  }

}

.sig-textarea {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  height: 100px;
  width: 100%;
  margin: 10px 0;
}

.remain-length {
  padding: 0 10px;
}

.news-list {
  .list {
    .item {
      padding: 10px 16px;
      .bt {
        margin: 3px 0 0;
        .intro {
          margin-right: 30%;
          .text-overflow;
        }

        .bt-r {

          > span {
            margin-left: 5px;
          }
        }
      }

    }
  }
}

.comment-footer {
  border-top: 1px solid #ddd;
  display: flex;

  .editor {
    flex:1 1 500px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;


  }

  .button{
    flex:1 1 90px;
    background: #f0f0f0;
    margin: 0 0 0 10px;

  }


}


